---
import Footer from "../Components/Footer.astro";
import HeaderMenu from "../Components/HeaderMenu.astro";

---

!DOCTYPE html>
<html lang="cden">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
          <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <HeaderMenu/>
        <h1>Menu</h1>
        <div id="Menu_container">
        <div class="card">
           <div><img src="" alt="hamburguesa"/></div>
           <h3>Chicken Burger</h3>
              <p>Deliciosa hamburguesa de pollo con queso, lechuga, tomate y mayonesa.</p>
        </div>
        <div class="card">
           <div><img src="" alt="hamburguesa"/></div>
           <h3>Cheese Burger</h3>
              <p>Deliciosa hamburguesa de res con queso, lechuga, tomate y mayonesa.</p>
        </div>
        <div class="card">
           <img src="" alt="hamburguesa"/>
           <h3>Veggie Burger</h3>
              <p>Deliciosa hamburguesa vegetariana con queso, lechuga, tomate y mayonesa.</p>
        </div>
        <div class="card">
            <img src="" alt="papas fritas"/>
            <h3>Papas Fritas</h3>
                <p>Crujientes papas fritas con sal y ketchup.</p>
                <button>combo</button>
                <button>individual</button>
                <button>Kids</button>
        </div>
        <div class="card">
            <img src="" alt="nuggets"/>
            <h3>Nuggets</h3>
                <p>Crujientes nuggets de pollo con salsa BBQ.</p>
                <button>combo</button>
                <button>individual</button>
                <button>Kids</button>
                <div class="card">
                  <img src = "" alt="bebida"/>
                    <h3>Bebida</h3>
                    <p>Refresco de cola, naranja o limon.</p>
                    <button>combo</button>
                    <button>individual</button>
                    <button>Kids</button>  
                </div>
                <div class="card">
                  <img src = "" alt="helado"/>
                    <h3>Helado</h3>
                    <p>Helado de vainilla, chocolate o fresa.</p>
                    <button>combo</button>
                    <button>individual</button>
                    <button>Kids</button>
        <Footer/>
    </body>
    
    </html>
