
<section>
            <form id="buzon_form">
        <h1>Contactanos</h1>
        <p>Todo lo enviado sera de manera anonima.</p>
        <input type="text" placeholder="Nombre de la sucursal" required/>
        <textarea placeholder="queja" required></textarea>
        <input type="file" accept="image/*" required />
        <button type="submit" id="confirmar">Enviar</button>
    
        </form>
        <style>
            #buzon_form {
                border: 1px solid #ccccccbb;
                display: flex;
                flex-direction: column;
                gap: 20px;
                max-width: 600px;
                height: 700px;
                margin: 0 auto;
                text-align: center;
                padding: 100px 0;
                align-items: center;
           }
            #buzon_form h1 {
                font-size: 40px;
                color: tomato;
            }
            #buzon_form input {
                padding: 10px;
                border: 1px solid #ccccccbb;
                width: 400px; 
            }
            #buzon_form textarea {
                border: 1px solid #ccccccbb;

                width: 400px;
                height: 200px;
                resize: vertical ;
                padding: 10px;
            }
            #buzon_form button {
                color: white;
                border-radius: 10px;
                width: 200px;
                height: 100;
                background-color: tomato;
            }
            #buzon_form button:hover {
                background-color: #e5533d;
                cursor: pointer;
                animation: buttonHover 0.3s;
            }
            #buzon form input:focus, #buzon_form textarea:focus {
                animation: inputFocus 0.3s;
                cursor: pointer;

            }

            @keyframes buttonHover {
                0% { transform: scale(1); }
                50% { transform: scale(1.1); background-color: #e5533d; }
                100% { transform: scale(1); }
            }
             @keyframes inputFocus {
                0% { transform: scale(1); }
                50% { transform: scale(1.1); }
                100% { transform: scale(1); }
            }
        </style>
</section>
        <script>
        const form = document.getElementById('buzon_form');
        const confirmacion = document.getElementById('confirmar');
        
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        alert('Gracias por mandar tu queja o sugerencia, nos ayudara a mejorar nuestro servicio');
        form.reset();

    })
   </script>