
---
---


<div id="Menu" >
			<ul>
				<a href="http://localhost:4321/index"><li>Quienes Somos?</li></a>
				<a href="http://localhost:4321/menu"><li>Menu</li></a>
   				<a href="http://localhost:4321/sucursales"><li>Sucursales</li></a>
				<a href="http://localhost:4321/contacto"><li>Quejas O Sugerencias</li></a>


			</ul>
			<div id="Redes_sociales">
		<a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
	</div>
		</div>
		<style>
			#Menu {
				background-color: white;
				overflow: hidden;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px 20px;
				height: 100px;

			}

			#Menu ul {
				list-style-type: none;
				margin: 0 auto;
				padding: 0;
				display: flex;
			
			}

			#Menu ul li {
				padding: 14px 20px;
			}

			#Menu ul li a {
				font-size: 17px;
				text-decoration: none;
			}

			#Menu ul li a:hover {
				background-color: #ddd;
				color: black;
			}

			#Redes_sociales a {
				color: white;
				text-decoration: none;
				font-size: 20px;
				margin-left: 15px;
			}

			#Redes_sociales a:hover {
				color: #ddd;
			}
		</style>