

<section>
    <h2>CONOCE NUESTRA CALIDAD</h2>

<div class="grid grid-cols-4 grid-rows-5 gap-4">
    <div class="col-span-2 row-span-2">1</div>
    <div class="col-span-2 row-span-2 col-start-3">2</div>
    <div class="row-span-3 row-start-3">3</div>
    <div class="col-span-2 row-span-3 row-start-3">4</div>
    <div class="row-span-3 col-start-4 row-start-3">5</div>
</div>
    
    
</section>